<section class="card mb-3 d-flex flex-row align-items-center">
    <img class="img-fluid ms-3" src="{% if _author.avatar %}{{ SITEURL }}{{ _author.avatar }}{% else %}http://placehold.it/120x120&text={{ author.name }} avatar{% endif %}" alt="{{ author.name }}" style="width: 128px; height: 128px;">
    <div class="card-body">
        <p class="card-title">{{ author.name }}</p>
        <p class="card-text">{% if _author.bio %}{{ _author.bio }}{% else %}No author bio...{% endif %}</p>
        {% if _author.links %}
            <p class="card-text author-social">
            {% for title,name,link in _author.links %}
                <a href="{{ link }}" title="{{ title }}" target="_blank"><i class="fa fa-{{ name|lower|replace('+','-plus') }} fa-lg"></i></a>
            {% endfor %}
            </p>
        {% endif %}
    </div>
</section>

